$color-principal: white;
$color-secundario: black; 
$fuente-principal: 'Roboto', sans-serif;

* {
    margin: 0;
    padding: 0;
    
}

h1 {
    font-family: $fuente-principal;
    text-align: center;
}

header {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    color: $color-principal;

    nav {
        display: flex;
        width: 100%;
        position: fixed;
        justify-content: space-around;
        padding: 30px 20px;
        z-index: 10;
        transition: 0.7s;

        #logo {
            text-decoration: none;
            position: relative;
            color: $color-principal;
            font-weight: bold;
            font-family: $fuente-principal;
        }

        .toggle {
            color: $color-principal;
            background: none;
            border: none;
            font-size: 30px;
            padding: 0 20px;
            cursor: pointer;

            display: none;
        }

        ul {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                list-style: none;

                a {
                    position: relative;
                    margin: 0px 15px;
                    text-decoration: none;
                    color: $color-principal;
                    font-family: $fuente-principal;
                }
            }
        }

        .pagina::before {
            content: "";
            height: 3px;
            width: 0%;
            background: $color-principal;
            position: absolute;
            left: 0;
            bottom: -12px;
            transition: 0.4s ease-out;
        }

        .pagina:hover::before {
            width: 100%;
        }
    }

    nav.bajar {
        background-color: $color-secundario;
    }

    video {
        width: 100%;
        z-index: 10;
    }

    .perfil {
        width: 100%;
        height: 100%;
        top: 42%;
        right: 0;
        position: absolute;
        text-align: center;
        display: block;
        justify-content: center;
        align-items: center;
        font-family: $fuente-principal;
        font-size: 25px;
        z-index: 8;

        .btn-cv {
            padding: 10px;
            border: solid 2px $color-principal;
            border-radius: 4px;
            background-color: transparent;
            color: $color-principal;
            text-decoration: none;
        }
        
        .btn-cv:hover {
            background-color: $color-principal;
            box-shadow: 0 0 5px $color-principal, 0 0 12px $color-principal, 0 0 13px $color-principal;
            color: $color-secundario;
            transition: 0.5s;
        }
    }
}


#sobre-mi {
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
    box-shadow: 0 0 12px rgb(151, 150, 150);
    font-family: $fuente-principal;

    .caja1 {
        display: table-cell;
        padding: 30px;
        width: 55%;
        
        h2 {
            text-align: center;
        }
    }

    .caja2 {
        display: table-cell;
        padding: 20px;

        h2 {
            text-align: center;
        }
    }
}

h2 {
    text-align: center;
    font-family: $fuente-principal;
}

.educacion {
    padding: 20px;
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 0 0 12px rgb(151, 150, 150);
    font-family: $fuente-principal;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    display: flex;

    .instituto {
        padding: 20px;
    }

    .descripcion {
        margin: 10px;
        text-align: justify;

        .fechas {
            color: rgb(136, 135, 135);
        }

        p {
            margin-top: 3px;
        }

    }

}

.fila1 {
    display: flex;
    align-items: center;
    margin: 40px;
    justify-content: center;

    .skill-image {
        align-items: center;
        text-align: center;
        width: 150px;
        margin: 20px;
        filter: drop-shadow(3px 2px 2px gray);
    }
}

.fila2 {
    display: flex;
    align-items: center;
    margin: 40px;
    justify-content: center;

    .skill-image {
        align-items: center;
        text-align: center;
        width: 150px;
        margin: 20px;
        filter: drop-shadow(3px 2px 2px gray);
    }
}

.fila3 {
    display: flex;
    align-items: center;
    margin: 40px;
    justify-content: center;

    .skill-image {
        align-items: center;
        text-align: center;
        width: 150px;
        margin: 20px;
        filter: drop-shadow(3px 2px 2px gray);
    }
}

footer {
    background-color: $color-secundario;
    color: $color-principal;
    padding: 20px;
    justify-content: center;
    display: flex;

    img {
        width: 40px;
        margin: 10px;
    }

    .redes:hover {
        width: 55px;
        margin: 10px;
        transition: 0.6s;
    }
    
}

@media (max-width: 544px) {

    header {
  
        nav {
    
            #logo {
                font-size: 20px;
                padding-top: 5px;
            }
    
            .toggle {
                display: block;
            }
    
            .menu {
                position: fixed;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: $color-secundario;
                left: 100%;
                top: 80px;
                width: 100%;
                transition: 0.3s;
                overflow-y: auto;
        
                li {
                    list-style: none;
                    margin: 20px;
                }
            }

            .menu_visible {
                left: 0;
            }
        }

        .perfil {

            #nombre {
                font-size: 30px;
            }

            #formacion {
                font-size: 20px;
            }

            video {
                width: 100%;
            }

        }

    
    }

    #sobre-mi {
        padding: 5%;
        margin: 5%;
        border-radius: 4px;
        box-shadow: 0 0 12px rgb(151, 150, 150);
        font-family: $fuente-principal;
    
        .caja1 {
            display: block;
            padding: 5%;
            width: 90%;
            align-items: center;
            text-align: center;
            
            h2 {
                text-align: center;
            }
        }
    
        .caja2 {
            display: block;
            padding: 5%;
    
            h2 {
                text-align: center;
            }
        }
    }

    .educacion {
        margin-top: 7%;
        margin-bottom: 7%;
        font-family: $fuente-principal;
        display: inline-block;
    
        .instituto {
            padding: 5%;
        }
    
        .descripcion {
            margin: 3%;
            text-align: justify;
    
            .fechas {
                color: rgb(136, 135, 135);
            }
    
            p {
                margin-top: 1%;
            }
    
        }
    
    }

    #Henry {
        margin-left: 5%;
        margin-right: 5%;
    }

    #UBA {
        margin-left: 23%;
        margin-right: 23%;
    }

    #santaCatalina {
        margin-left: 19%;
        margin-right: 19%;
    }

    .fila1 {
        display: inline-block;
    
        .skill-image {
            width: 150px;
            margin: 20px;
            filter: none;
        }
    }
    
    .fila2 {
        display: inline-block;
        margin-top: -40px;
    
        .skill-image {
            width: 150px;
            margin: 20px;
            filter: none;
        }
    }
    
    .fila3 {
        display: inline-block;
        margin-top: -40px;
        
        .skill-image {
            filter: none;
        }
    }

    .mover-derecha {
        display: inline-block;
        margin-left: 6%;
    }



}

@media (max-width: 516px) {

    .fila1 {
        margin-right: 10%;
        margin-left: 10%;
    }

    .fila2 {
        margin-right: 10%;
        margin-left: 10%;
    }

    .fila3 {
        margin-right: 10%;
        margin-left: 10%;
    }

    .mover-derecha {
        margin-left: 2.5%;
    }
}

@media (max-width: 505px) {

    .skills {

        .fila1 {
            display: inline-block;
            margin-left: 19%;
    
            .skill-image {
                width: 120px;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    
        .fila2 {
            display: inline-block;
            margin-left: 19%;
    
            .skill-image {
                width: 120px;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    
        .fila3 {
            display: inline-block;
            margin-left: 19%;
    
            .skill-image {
                width: 120px;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    
        .mover-derecha {
            display: inline-flex;
        }

    }
    
}

@media (max-width: 473px) {

    .skills {
        margin-right: 9%;
    }
}

@media (max-width: 471px) {
    .btn-cv {
        display: none;
    }
}

@media (max-width: 462px) {

    .skills {
        margin: 0;
        margin-left: -19px;
    }
}

@media (max-width: 428px) {

    .skills {
        margin: 0;
        margin-left: -6%;
    }
}

@media (max-width: 428px) {
    
    .skills {
        margin: 0%;
    }
}

@media (max-width: 420px) {

    .skills {
        .fila1{
            margin-left: 13%;
        }

        .fila2 {
            margin-left: 13%;
        }

        .fila3 {
            margin-left: 13%;
        }
    }
}

@media (max-width: 388px) {

    .skills {
        .fila1{
            margin-left: 10%;
        }

        .fila2 {
            margin-left: 10%;
        }

        .fila3 {
            margin-left: 10%;
        }
    }
}

@media (max-width: 373px) {

    .skills {
        .fila1{
            margin-left: 9%;
        }

        .fila2 {
            margin-left: 9%;
        }

        .fila3 {
            margin-left: 9%;
        }
    }
}

@media (max-width: 369px) {

    .skills {
        .fila1{
            margin-left: 8%;
        }

        .fila2 {
            margin-left: 8%;
        }

        .fila3 {
            margin-left: 8%;
        }
    }
}

@media (max-width: 364px) {

    .skills {
        .fila1{
            margin-left: 7%;
        }

        .fila2 {
            margin-left: 7%;
        }

        .fila3 {
            margin-left: 7%;
        }
    }
}

@media (max-width: 360px) {

    .skills {
        .fila1{
            margin-left: 6%;
        }

        .fila2 {
            margin-left: 6%;
        }

        .fila3 {
            margin-left: 6%;
        }
    }
}

@media (max-width: 355px) {

    .skills {
        .fila1{
            margin-left: 5%;
        }

        .fila2 {
            margin-left: 5%;
        }

        .fila3 {
            margin-left: 5%;
        }
    }
}







